* {
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100svh;
}

main {
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

h1,
h2,
h3,
p {
  color: gold;
}

.card-container {
  background: rgb(97, 18, 18);
  background: linear-gradient(
    30deg,
    rgba(97, 18, 18, 1) 0%,
    rgba(200, 50, 0, 1) 100%
  );
  display: flex;
  max-width: 500px;
  min-height: 210;
  border-radius: 25px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 25px;
  margin-top: 0px;
}

.img-container {
  width: 300px;
}
h1 {
  color: rgb(90, 0, 0);
  font-size: 50px;
}

h2 {
  margin-bottom: 5px;
}

.card-details {
  display: flex;
  gap: 20px;
}

.label {
  color: rgb(90, 0, 0);
  font-size: 20px;
  font-weight: 3px;
}

.item {
  margin-top: 20px;
}

.details-container {
  padding: 30px;
}
.description {
  margin-top: 30px;
}
